<div class="<%= wrapper_classes %>">
  <table class="<%= table_classes %>" <%= "id=#{data_table_id}" if data_table_id %>>
    <% if caption %>
      <caption class="mt-4 text-sm text-muted-foreground"><%= caption %></caption>
    <% end %>
    
    <% unless headless %>
      <thead class="<%= thead_classes %>">
        <tr class="<%= tr_classes %>">
          <% columns.each do |column| %>
            <th class="<%= th_classes %> <%= column[:class] %>">
              <%= column[:label] %>
            </th>
          <% end %>
        </tr>
      </thead>
    <% end %>
    
    <tbody class="<%= tbody_classes %>">
      <% data.each do |row| %>
        <tr class="<%= tr_classes %>" <%= "data-id=#{row_id.call(row)}" if row_id %>>
          <% columns.each do |column| %>
            <td class="<%= table_cell_classes %> <%= column[:class] %>">
              <% if column[:render] %>
                <%= column[:render].call(row) %>
              <% else %>
                <%= row[column[:key]] %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    
    <% if block_given? %>
      <tfoot class="<%= tfoot_classes %>">
        <%= yield %>
      </tfoot>
    <% end %>
  </table>
</div>