<div data-controller="ui-context-menu"
     data-ui-context-menu-side-value="<%= side %>"
     data-ui-context-menu-align-value="<%= align %>">
  <%= content %>
  <div data-ui-context-menu-target="menu"
       data-side="<%= side %>"
       data-align="<%= align %>"
       role="menu"
       aria-orientation="vertical"
       data-state="closed"
       dir="ltr"
       class="z-50 min-w-[8rem] overflow-hidden-- rounded-md border bg-popover p-1 text-popover-foreground shadow-md animate-in fade-in-80 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 w-64"
       tabindex="-1"
       data-orientation="vertical">
    <% menu_items.each do |item| %>
      <% if item[:type] == "separator" %>
        <div role="separator" aria-orientation="horizontal" class="-mx-1 my-1 h-px bg-border"></div>
      <% elsif item[:type] == "group" %>
        <div role="group">
          <div class="px-2 py-1.5 text-sm font-semibold text-foreground pl-8"><%= item[:label] %></div>
          <div role="separator" aria-orientation="horizontal" class="-mx-1 my-1 h-px bg-border"></div>
          <% item[:items].each do |sub_item| %>
            <div role="<%= sub_item[:type] == 'checkbox' ? 'menuitemcheckbox' : 'menuitem' %>"
                 aria-checked="<%= sub_item[:checked] ? 'true' : 'false' if sub_item[:type] == 'checkbox' %>"
                 class="relative flex cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none focus:bg-accent focus:text-accent-foreground hover:bg-accent hover:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
                 data-state="<%= sub_item[:checked] ? 'checked' : 'unchecked' if sub_item[:type] == 'checkbox' %>"
                 tabindex="-1"
                 data-orientation="vertical"
                 data-radix-collection-item=""
                 <%= "aria-disabled=\"true\" data-disabled=\"\"" if sub_item[:disabled] %>
                 <%= "data-ui-context-menu-target=\"submenuTrigger\"" if sub_item[:submenu] %>
                 data-action="mouseenter->ui-context-menu#showSubmenu mouseleave->ui-context-menu#hideSubmenu">
              <% if sub_item[:type] == 'checkbox' %>
                <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
                  <% if sub_item[:checked] %>
                    <span data-state="checked">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check h-4 w-4"><path d="M20 6 9 17l-5-5"></path></svg>
                    </span>
                  <% end %>
                </span>
              <% end %>
              <%= sub_item[:label] %>
              <% if sub_item[:shortcut] %>
                <span class="ml-auto text-xs tracking-widest text-muted-foreground"><%= sub_item[:shortcut] %></span>
              <% end %>
              <% if sub_item[:submenu] %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-auto h-4 w-4"><path d="m9 18 6-6-6-6"></path></svg>
                <div data-ui-context-menu-target="submenu" class="absolute left-full top-0 hidden min-w-[8rem] overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground shadow-md">
                  <% sub_item[:submenu].each do |submenu_item| %>
                    <div role="menuitem" class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-accent focus:text-accent-foreground hover:bg-accent hover:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
                      <%= submenu_item[:label] %>
                      <% if submenu_item[:shortcut] %>
                        <span class="ml-auto text-xs tracking-widest text-muted-foreground"><%= submenu_item[:shortcut] %></span>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <div role="<%= item[:type] == 'checkbox' ? 'menuitemcheckbox' : 'menuitem' %>"
             aria-checked="<%= item[:checked] ? 'true' : 'false' if item[:type] == 'checkbox' %>"
             class="relative flex cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none focus:bg-accent focus:text-accent-foreground hover:bg-accent hover:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50"
             data-state="<%= item[:checked] ? 'checked' : 'unchecked' if item[:type] == 'checkbox' %>"
             tabindex="-1"
             data-orientation="vertical"
             data-radix-collection-item=""
             <%= "aria-disabled=\"true\" data-disabled=\"\"" if item[:disabled] %>
             <%= "data-ui-context-menu-target=\"submenuTrigger\"" if item[:submenu] %>
             data-action="mouseenter->ui-context-menu#showSubmenu mouseleave->ui-context-menu#hideSubmenu">
          <% if item[:type] == 'checkbox' %>
            <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
              <% if item[:checked] %>
                <span data-state="checked">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check h-4 w-4"><path d="M20 6 9 17l-5-5"></path></svg>
                </span>
              <% end %>
            </span>
          <% end %>
          <%= item[:label] %>
          <% if item[:shortcut] %>
            <span class="ml-auto text-xs tracking-widest text-muted-foreground"><%= item[:shortcut] %></span>
          <% end %>
          <% if item[:submenu] %>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right ml-auto h-4 w-4"><path d="m9 18 6-6-6-6"></path></svg>
            <div data-ui-context-menu-target="submenu" class="absolute left-full top-0 hidden min-w-[8rem] overflow-hidden rounded-md border bg-popover p-1 text-popover-foreground shadow-md">
              <% item[:submenu].each do |submenu_item| %>
                <div role="menuitem" class="relative flex cursor-default select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-accent focus:text-accent-foreground hover:bg-accent hover:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
                  <%= submenu_item[:label] %>
                  <% if submenu_item[:shortcut] %>
                    <span class="ml-auto text-xs tracking-widest text-muted-foreground"><%= submenu_item[:shortcut] %></span>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>