
<div data-controller="ui-popover" 
     data-ui-popover-placement-value="<%= placement %>"
     data-ui-popover-offset-value="<%= offset %>"
     data-ui-popover-arrow-value="<%= arrow %>"
     data-ui-popover-trigger-type-value="<%= trigger_type %>"
     class="inline-block">
  
  <%= trigger %>


<template data-ui-popover-target="contentTemplate">
  <div id="<%= id %>"
       class="z-50 min-w-[8rem] overflow-hidden rounded-md border bg-popover p-4 text-popover-foreground shadow-md outline-none data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2"
       role="tooltip">
    <%= content %>
    <% if arrow %>
      <div data-ui-popover-target="arrow" class="absolute bg-popover w-3 h-3 rotate-45 transform"></div>
    <% end %>
  </div>
</template>

</div>